.signin_div {
    min-height: 90vh;
    max-width: 100%;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .signin_container {
        background-color: white;
        padding: 100px 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 7px;
        box-shadow: 2px 2px 10px 8px #ccc;

        @media only screen and (max-width: 640px) {
            max-width: 85%;
            padding: 150px 30px;
        }

        button {
            outline: none;
            border: 0;
            padding: 20px 50px;
            width: 274px;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            text-align: center;
            font-weight: 500;
            column-gap: 8px;
            background-color: #fb923c;
        }
    }
}
