.cart_div {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 640px) {
    margin-top: 40px;
  }

  #empty {
    margin: 30px;
    font-size: 22px;

    @media only screen and (max-width: 640px) {
      margin-top: 60px;
    }
  }

  #shop_now {
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    background-color: #ff9b49;
    padding: 6px 14px;
    transition: background-color 300ms;

    &:hover {
      background-color: #ffa963;
      transition: background-color 300ms;

      @media only screen and (max-width: 640px) {
        &:hover {
          background-color: #ff9b49;
          transition: none;
        }
      }
    }
  }

  .inside_cart_container {
    width: 70%;
    margin: 65px auto;
    border-radius: 5px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 20px 0.5px #ccc;
    border: 0.2px solid #ccc;

    @media only screen and (max-width: 640px) {
      padding: 0 30px;
    }

    .last {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 80px;

      @media only screen and (max-width: 640px) {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
      }

      .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;

        form {
          display: flex;
          align-items: center;
          column-gap: 1px;

          @media only screen and (max-width: 640px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 5px;
            width: 100%;
            margin: auto;
          }

          input {
            padding: 7px;
            outline: none;
            border: 1px solid black;

            &::placeholder {
              letter-spacing: 0.5px;
              font-size: 14px;
            }

            @media only screen and (max-width: 640px) {
              width: 95%;
              padding: 12px 7px;

              &::placeholder {
                font-size: 17px;
              }
            }
          }

          button {
            padding: 6px 15px;
            outline: none;
            border: 0;
            background-color: #000;
            color: whitesmoke;
            cursor: pointer;
            font-size: 16px;

            @media only screen and (max-width: 640px) {
              padding: 7px 16px;
              font-size: 18px;
            }
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;
        column-gap: 2px;
        position: relative;

        @media only screen and (max-width: 640px) {
          position: static;
          margin-top: 60px;
          margin-bottom: 20px;
          width: 100%;
        }

        #checkout {
          display: block;
          padding: 10px 80px;
          background-color: #ff9b49;
          text-decoration: none;
          color: black;
          text-align: center;
          transition: background-color 500ms;

          @media only screen and (max-width: 640px) {
            width: 100%;
            font-size: 18px;
            border: none;
            font-size: 20px;
            margin: auto;
          }

          a {
            text-decoration: none;
            color: #000;
          }
        }

        #checkout:hover {
          background-color: #ffa963;
          transition: background-color 500ms;
        }

        #shop_btn {
          display: block;
          padding: 0 10px;
          background-color: black;

          @media only screen and (max-width: 640px) {
            display: none;
          }
        }

        #shop_ico {
          display: block;
          color: white;
        }

        #continue_shopping {
          background-color: #000;
          color: whitesmoke;
          position: absolute;
          top: 45px;
          left: 160px;
          width: 70%;
          padding: 10px 0;
          transition: all 300ms;

          @media only screen and (max-width: 640px) {
            display: none;
          }
        }
      }
    }

    .calculate_totals {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      @media only screen and (max-width: 640px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        margin-top: 20px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 25px;
        padding: 15px 25px;
        background: transparent;
        border: 0.1px solid #000;

        @media only screen and (max-width: 640px) {
          width: 95%;
          font-weight: 500;
          font-size: 18px;
        }
      }

      input {
        outline: none;
        padding: 5px;
      }

      .promo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }
    }

    .children {
      display: grid;
      grid-template-columns: 3fr 1fr 2fr 0.5fr;
      list-style: none;
      padding: 10px;
      row-gap: 30px;

      @media only screen and (max-width: 640px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        padding: 0;
        border-bottom: 1px solid #ccc;

        #second {
          font-size: 20px;
        }
      }

      li {
        border-bottom: 1.2px solid #ccc;
        padding-bottom: 40px;

        @media only screen and (max-width: 640px) {
          border: 0;
        }
      }

      #second,
      #third {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #second {
        font-weight: 700;
      }

      #first {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      #fourth {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;

        @media only screen and (max-width: 640px) {
          display: none;
        }
      }

      li {
        .info {
          display: flex;
          align-items: center;
          column-gap: 20px;

          @media only screen and (max-width: 640px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            margin-top: 0;

            a {
              img {
                height: 280px;
                width: 220px;
              }
            }

            p {
              font-size: 22px;
              font-weight: 500;
              margin: 0;
              margin-top: 10px;
            }
          }

          i #rem_button {
            display: block;
            color: red;
            font-size: 25px;
            font-weight: 700;
            cursor: pointer;

            @media only screen and (max-width: 640px) {
              display: none;
            }
          }
        }
      }
    }
  }

  .head {
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 0.5fr;
    margin: 0;
    padding: 15px;
    background-color: #ff9b49;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 500;

    @media only screen and (max-width: 640px) {
      display: none;
    }

    #second,
    #third {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #first {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 80px;
    }

    #fourth {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
