.banner_inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;

  .top_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    @media only screen and (max-width: 640px) {
      text-align: center;
    }

    h1 {
      font-size: 65px;
      //   transform: scaleY(1.25);
      font-weight: 700;
      margin: 0;
      letter-spacing: 3px;

      @media only screen and (max-width: 640px) {
        font-size: 45px;
        letter-spacing: 1px;
      }
    }
    h2 {
      font-weight: 500;
      font-size: 45px;
      letter-spacing: 1px;
      margin-top: 8px;
      margin-bottom: 0;
      padding: 0;

      @media only screen and (max-width: 640px) {
        font-size: 30px;
        letter-spacing: 0;

      }
    }
  }

  .bottom_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    @media only screen and (max-width: 640px) {
      margin-top: 80px;
    }

    h4 {
      margin: 0;
      font-size: 22px;
      font-weight: 400;

      @media only screen and (max-width: 640px) {
        font-size: 20px;
      }
    }

    p {
      font-weight: 300;
      font-size: 22px;
      margin-top: 14px;

      @media only screen and (max-width: 640px) {
        font-size: 22px;
      }
    }
  }
}
